:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --headers-color: #000028;
  --section-title-color: #FF0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --hero-color: #db00ff;
  --shadow-color: #ff0070;
  --button-border-color: #ff0070;
  --button-text-color: #FF0070;
  --button-hover-border-color: #ff007066;
  --link-underline-color: #f1b2ce;
}