:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --text-color: #353430;
  --headers-color: #353430;
  --section-title-color: #353430;
  --accent-color: #FF8DCB;
  --hero-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --button-border-color: #353430;
  --button-text-color: #353430;
  --button-hover-border-color: #32312d66;
  --link-underline-color: #353430;
}